In [2]:
import numpy as np
import pandas as pd

In [2]:
def date_transfer(date):
    date2 = ""
    date2 += date[6:10]
    date2 += "-"
    date2 += date[0:2]
    date2 += "-"
    date2 += date[3:5]
    return date2
print(date_transfer("07/25/2017 08:00:00 AM"))

2017-07-25

In [3]:
AP1 = pd.read_csv("pm2021.csv")
AP2 = pd.read_csv("pm2022.csv")
AP1

,Date,Source,Site ID,POC,Daily Mean PM2.5 Concentration,UNITS,DAILY_AQI_VALUE,Site Name,DAILY_OBS_COUNT,PERCENT_COMPLETE,AQS_PARAMETER_CODE,AQS_PARAMETER_DESC,CBSA_CODE,CBSA_NAME,STATE_CODE,STATE,COUNTY_CODE,COUNTY,SITE_LATITUDE,SITE_LONGITUDE
0,01/01/2021,AQS,340030010,3,7.7,ug/m3 LC,32,Fort Lee Near Road,1,100.0,88101,PM2.5 - Local Conditions,35620,"New York-Newark-Jersey City, NY-NJ-PA",34,New Jersey,3,Bergen,40.85355,-73.96618
1,01/02/2021,AQS,340030010,3,5.0,ug/m3 LC,21,Fort Lee Near Road,1,100.0,88101,PM2.5 - Local Conditions,35620,"New York-Newark-Jersey City, NY-NJ-PA",34,New Jersey,3,Bergen,40.85355,-73.96618
2,01/03/2021,AQS,340030010,3,6.2,ug/m3 LC,26,Fort Lee Near Road,1,100.0,88101,PM2.5 - Local Conditions,35620,"New York-Newark-Jersey City, NY-NJ-PA",34,New Jersey,3,Bergen,40.85355,-73.96618
3,01/04/2021,AQS,340030010,3,5.9,ug/m3 LC,25,Fort Lee Near Road,1,100.0,88101,PM2.5 - Local Conditions,35620,"New York-Newark-Jersey City, NY-NJ-PA",34,New Jersey,3,Bergen,40.85355,-73.96618
4,01/05/2021,AQS,340030010,3,5.7,ug/m3 LC,24,Fort Lee Near Road,1,100.0,88101,PM2.5 - Local Conditions,35620,"New York-Newark-Jersey City, NY-NJ-PA",34,New Jersey,3,Bergen,40.85355,-73.96618
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10488,12/27/2021,AQS,361192004,3,5.7,ug/m3 LC,24,WHITE PLAINS,1,100.0,88502,Acceptable PM2.5 AQI & Speciation Mass,35620,"New York-Newark-Jersey City, NY-NJ-PA",36,New York,119,Westchester,41.05192,-73.76366
10489,12/28/2021,AQS,361192004,3,8.6,ug/m3 LC,36,WHITE PLAINS,1,100.0,88502,Acceptable PM2.5 AQI & Speciation Mass,35620,"New York-Newark-Jersey City, NY-NJ-PA",36,New York,119,Westchester,41.05192,-73.76366
10490,12/29/2021,AQS,361192004,3,9.8,ug/m3 LC,41,WHITE PLAINS,1,100.0,88502,Acceptable PM2.5 AQI & Speciation Mass,35620,"New York-Newark-Jersey City, NY-NJ-PA",36,New York,119,Westchester,41.05192,-73.76366
10491,12/30/2021,AQS,361192004,3,8.8,ug/m3 LC,37,WHITE PLAINS,1,100.0,88502,Acceptable PM2.5 AQI & Speciation Mass,35620,"New York-Newark-Jersey City, NY-NJ-PA",36,New York,119,Westchester,41.05192,-73.76366
10492,12/31/2021,AQS,361192004,3,11.6,ug/m3 LC,48,WHITE PLAINS,1,100.0,88502,Acceptable PM2.5 AQI & Speciation Mass,35620,"New York-Newark-Jersey City, NY-NJ-PA",36,New York,119,Westchester,41.05192,-73.76366

In [3]:
AP1 = pd.read_csv("pm2021.csv")
AP2 = pd.read_csv("pm2022.csv")
AP = AP1.append(AP2)
AP["Date"] = AP["Date"].apply(date_transfer)
AP = AP.drop(AP[AP['STATE_CODE']!=36].index)
AP = AP[['Date','Daily Mean PM2.5 Concentration','DAILY_AQI_VALUE']]
AP
APD = AP["Date"].unique()
# temp = data[data["DATE"] == d2[0]]
# temp_column = temp[column_list[4]]
# print(temp_column)
# temp_column = temp_column.dropna(axis=0,how='any')
# print(temp_column.unique())
AP_column_list = ['Daily Mean PM2.5 Concentration','DAILY_AQI_VALUE']
a = []
for i in APD:
    temp = AP[AP["Date"] == i]
    b=[i]
    for tcolumn in AP_column_list:
        temp_column = temp[tcolumn]
        b.append(np.mean(temp_column))
    a.append(b)
AP_clean = pd.DataFrame(a)
AP_clean

C:\Users\MSI_NB\AppData\Local\Temp\ipykernel_13972\1148957682.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  AP = AP1.append(AP2)

              0         1          2
0    2021-01-01  8.632000  35.920000
1    2021-01-02  7.288235  30.470588
2    2021-01-03  8.617647  35.941176
3    2021-01-04  7.269231  30.269231
4    2021-01-05  8.125000  33.812500
..          ...       ...        ...
715  2022-04-18  0.964286   4.285714
716  2022-04-19  2.446154  10.384615
717  2022-04-21  4.907692  20.384615
718  2022-12-07  9.350000  39.000000
719  2022-12-08  4.850000  20.500000

[720 rows x 3 columns]

In [4]:
BCC = pd.read_csv("Bicycle_Counts.csv")
BCC["date"] = BCC["date"].apply(date_transfer)
BCC

BCCD = BCC["date"].unique()
# temp = data[data["DATE"] == d2[0]]
# temp_column = temp[column_list[4]]
# print(temp_column)
# temp_column = temp_column.dropna(axis=0,how='any')
# print(temp_column.unique())

a = []
for i in BCCD:
    temp = BCC[BCC["date"] == i]
    b=[i]
    temp_column = temp["counts"]
    b.append(np.sum(temp_column))
    a.append(b)
BCC_clean = pd.DataFrame(a)
BCC_clean

               0      1
0     2022-06-24  59903
1     2022-06-23  56118
2     2022-06-25  55212
3     2022-06-26  48834
4     2022-06-27  35635
...          ...    ...
3760  2022-12-17  29409
3761  2022-12-18  25110
3762  2022-12-19  29679
3763  2022-12-20  29019
3764  2022-12-21  15147

[3765 rows x 2 columns]

In [5]:
BCC = pd.read_csv("Bicycle_Counts.csv")
# BCC["date"] = BCC["date"].apply(date_transfer)
BCC

          countid         id                    date  counts  status
0        10014848  100009425  06/24/2022 12:00:00 AM      15       0
1        10014849  100009425  06/24/2022 12:15:00 AM      12       0
2        10014850  100009425  06/24/2022 12:30:00 AM      14       0
3        10014851  100009425  06/24/2022 12:45:00 AM       5       0
4        10014852  100009425  06/24/2022 01:00:00 AM      10       0
...           ...        ...                     ...     ...     ...
4469393  40934294  300029648  12/21/2022 10:45:00 PM      16       0
4469394  40934295  300029648  12/21/2022 11:00:00 PM      11       0
4469395  40934296  300029648  12/21/2022 11:15:00 PM      11       0
4469396  40934297  300029648  12/21/2022 11:30:00 PM       7       0
4469397  40934298  300029648  12/21/2022 11:45:00 PM       3       0

[4469398 rows x 5 columns]

In [5]:
data = pd.read_csv("3180075.csv")
data = data.sort_values(by = "DATE")
data

C:\Users\MSI_NB\AppData\Local\Temp\ipykernel_13972\3050491675.py:1: DtypeWarning: Columns (53) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("3180075.csv")

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,AWND_ATTRIBUTES,DAPR,DAPR_ATTRIBUTES,...,WT03,WT03_ATTRIBUTES,WT04,WT04_ATTRIBUTES,WT05,WT05_ATTRIBUTES,WT08,WT08_ATTRIBUTES,WT11,WT11_ATTRIBUTES
28958,US1NJES0040,"VERONA TWP 0.8 W, NJ US",40.832600,-74.258300,161.2,2021-12-15,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9636,US1NJMS0040,"CHATHAM 0.6 NW, NJ US",40.748131,-74.390791,58.8,2021-12-15,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
757,US1NJMN0048,"LONG BRANCH 0.5 W, NJ US",40.296952,-74.001510,7.9,2021-12-15,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5127,US1NJUN0028,"SPRINGFIELD TWP 0.7 NNE, NJ US",40.708904,-74.321518,37.5,2021-12-15,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2415,US1NJUN0017,"CRANFORD TWP 1.1 NNW, NJ US",40.672178,-74.309574,21.9,2021-12-15,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24080,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.639150,-73.763900,2.7,2022-12-15,12.75,",,W",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24568,US1NJBG0030,"OAKLAND 1.0 ESE, NJ US",41.025324,-74.223632,109.4,2022-12-15,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5123,US1NJMS0011,"BOONTON 0.6 NW, NJ US",40.909623,-74.414145,188.7,2022-12-15,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9635,US1NYQN0033,"HOWARD BEACH 0.4 NNW, NY US",40.662099,-73.841345,2.1,2022-12-15,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30456,USW00054743,"CALDWELL ESSEX CO AIRPORT, NJ US",40.876450,-74.282840,52.0,2022-12-15,7.83,",,W",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
a = []
column_list = [column for column in data][6::2]
d2 = data["DATE"].unique()
# temp = data[data["DATE"] == d2[0]]
# temp_column = temp[column_list[4]]
# print(temp_column)
# temp_column = temp_column.dropna(axis=0,how='any')
# print(temp_column.unique())
for i in d2:
    temp = data[data["DATE"] == i]
    b=[i]
    for tcolumn in column_list:

        temp_column = temp[tcolumn]
        temp_column = temp_column.dropna(axis=0,how='any')
        temp_column = temp_column.unique()
        b.append(np.mean(temp_column))
    temp = AP_clean[AP_clean[0] == i]
    for tcolumn in [1,2]:
        temp_column = temp[tcolumn]
        b.append(np.mean(temp_column))
    temp = BCC_clean[BCC_clean[0] == i]
    temp_column = temp[1]
    b.append(np.mean(temp_column))
    a.append(b)
test = pd.DataFrame(a)

c:\Users\MSI_NB\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3440: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
c:\Users\MSI_NB\anaconda3\lib\site-packages\numpy\core\_methods.py:189: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [8]:
def drop_col(df, cutoff=0.5): # 如果这一列中有90%以上的缺失值，那么就从df中删除这一列
    n = len(df)
    cnt = df.count() # 对列进行非nan值计数
    cnt = cnt / n # 求出非nan值的百分比
    return df.loc[:, cnt[cnt >= cutoff].index] 
test = drop_col(test)
test
test = test.dropna(axis=1,how='any')
test

,0,1,4,5,6,7,8,9,10,11,12,13,14,15,16,17,25,26,27
0,2021-12-15,6.485714,1121.50,0.016667,0.000000,0.00,45.500000,53.000000,32.000000,36.400000,154.000000,148.000000,0.00,0.00,16.700000,21.983333,6.226087,25.956522,34609.0
1,2021-12-16,9.618571,1171.00,0.025000,0.000000,0.00,55.666667,59.777778,44.916667,52.500000,223.333333,222.000000,0.00,0.00,18.225000,24.714286,9.862500,41.062500,38396.0
2,2021-12-17,9.283750,891.00,0.010000,0.000000,0.00,57.333333,61.375000,48.250000,55.200000,291.428571,296.000000,0.00,0.00,19.000000,26.440000,7.781250,32.312500,34646.0
3,2021-12-18,5.368750,650.50,0.051818,0.000000,0.00,45.500000,52.181818,40.400000,41.666667,53.333333,58.000000,0.00,0.00,12.840000,16.516667,7.096000,29.520000,17011.0
4,2021-12-19,12.611250,1161.75,0.101905,0.000000,0.00,42.000000,45.333333,33.181818,39.666667,338.000000,256.000000,0.00,0.00,22.760000,31.471429,5.900000,24.687500,18817.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,2022-12-11,9.143750,1618.50,0.160909,0.050000,0.00,38.500000,38.000000,31.600000,35.333333,148.333333,144.285714,0.00,0.00,16.850000,19.360000,6.833333,28.333333,17374.0
362,2022-12-12,10.068750,1554.00,0.318529,1.078571,0.80,35.500000,38.000000,28.857143,31.333333,216.000000,216.000000,0.05,0.15,18.557143,23.614286,6.800000,28.333333,31956.0
363,2022-12-13,8.670000,1012.75,0.046667,0.050000,0.55,32.500000,39.714286,24.166667,25.666667,323.333333,336.000000,0.00,0.00,16.983333,20.714286,6.266667,26.333333,32822.0
364,2022-12-14,11.603750,1477.50,0.000000,0.000000,0.50,34.500000,39.000000,27.500000,30.000000,200.000000,228.333333,0.00,0.00,20.142857,28.442857,4.800000,20.000000,33980.0
365,2022-12-15,10.486250,2207.75,0.492727,1.000000,0.00,36.500000,40.142857,29.833333,33.500000,70.000000,62.000000,0.00,0.00,23.250000,31.000000,4.766667,19.666667,25035.0

In [ ]:

test.to_csv("test.csv")